.encima {
  position: absolute;
  top: 200px;
  left: 50px;
  width: 100px;
}

.linea-arriba{
    height: 6px;
    background: linear-gradient(to right, #3a78b8, #ffffff);
}

.linea-abajo{
    height: 6px;
    background: linear-gradient(to left, #3a78b8, #ffffff);
}

